{% extends "AppBundle:Layouts:layout.html.twig"%}

{% block javascripts %}
  {{ parent() }}
      <script src="{{ asset ('assets/js/custom/users.js')}}"></script>
      <script src="{{ asset ('assets/js/custom/buttons-following.js')}}"></script>
{% endblock %}

{% block content %}
  <div class="container">
    <div class="col-lg-8 box-default">
      <h1>Gente</h1>
      <div class="count">
        <span class="label label-primary">
          Total de personas: {{ pagination.getTotalItemCount }}
        </span>
      </div>
      <hr/>
      <div class="box-content box-users">
        {% for user in pagination %}
          <div class="col-lg-12 user-item">
            {# MOSTRAMOS EL AVATAR... #}
            <div class="avatar">
              {# Imagen de usuario si existe un registro o no de la imagen #}
              {% if user.image == null %}
                <img src="{{ asset ('assets/images/default.png') }}" />
              {% else %}
                <img src="{{ asset ('uploads/users/'~user.image) }}" />
              {% endif %}
            </div>
            {# ...MOSTRAMOS EL AVATAR #}
            <div class="user-item-content">
              <p>{{ user.name }} {{ user.surname }} - {{ user.nick }} </p>
              <p>{{ user.bio }}
            </div>
            {# Permitir seguir Usuarios... #}
            {% if app.user.id != user.id %}
              <div class="pull-right buttons-following">
                <button class="btn btn-sm btn-success btn-follow
                    {% if app.user|following(user) == true %}
                      hidden
                    {% endif %}
                    "
                    data-followed="{{user.id}}"
                    >
                  <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>
                  Follow
                </button>
                <button class="btn btn-sm btn-default btn-unfollow
                    {% if app.user|following(user) == false %}
                      hidden
                    {% endif %}
                    "
                    data-followed="{{user.id}}">
                  <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
                  Unfollow
                </button>
              </div>
            {% endif %}
            {# ... Permitir seguir Usuarios #}
            <div class="clearfix"></div>
            <hr/>
          </div>
        {% endfor %}
        <div class="navigation">
          {{ knp_pagination_render(pagination) }}
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
{% endblock %}
