{% extends "AppBundle:Layouts:layout.html.twig"%}
{% block javascripts %}
    {{parent()}}
    <script type="text/javascript" src="{{ asset('assets/js/custom/home.js') }}"></script>
{% endblock %}
{% block content %}
<div class="container">
  <div id="timeline" class="col-lg-7 box-default timeline pull-left">
    <h1 class="box-header">Timeline</h1>
    <div class="box-contend">
      {# LISTAMOS LAS PUBLICACIONES... #}
      {% for publication in pagination %}
        <div class="col-lg-12 publication-item">
          {# MOSTRAMOS EL AVATAR... #}
          <div class="avatar">
            {# Imagen de usuario si existe un registro o no de la imagen #}
            {% if publication.user.image == null %}
              <img src="{{ asset ('assets/images/default.png') }}" />
            {% else %}
              <img src="{{ asset ('uploads/users/'~publication.user.image) }}" />
            {% endif %}
          </div>
          {# ...MOSTRAMOS EL AVATAR #}
          <div class="publication-item-content">
            <p>
              <a class="pub-name-link" href="#">
                {{publication.user.name}} {{publication.user.surname}}
              </a>
              - {{publication.user.nick}} -
              <span class="pub-date">
              {# Formateamos la fecha mediante la siguiente función de TWIG #}
              {# Crearemos una nueva extensión de TWIG src\AppBundle\Twig\LongTimeExtension.php #}
              {# La registramos dentro de app\config\services.yml #}
              {{publication.createdAt|long_time}}
              </span>
            </p>
            {{publication.text}}
            <div class="clearfix">
            </div>
            <hr/>
          </div>
        </div>
      {% endfor %}
      {# display navigation #}
      <div class ="navigation">
        {{ knp_pagination_render(pagination) }}
      </div>
      {# ...LISTAMOS LAS PUBLICACIONES #}
    </div>
  </div>
  {# BOX DATOS DE USUARIO... #}
  <div id="user-card" class="col-lg-4 box-default pull-left">
    <div class="avatar">
      {# Imagen de usuario si existe un registro o no de la imagen #}
      {% if app.user.image == null %}
        <img src="{{ asset ('assets/images/default.png') }}" />
      {% else %}
        <img src="{{ asset ('uploads/users/'~app.user.image) }}" />
      {% endif %}
    </div>
    <div class="name-surname">
      <a href="#">{{app.user.name}} {{app.user.surname}}</a>
      <div class="clearfix"></div>
      <span class="nickname">
        {{app.user.nick}}
      </span>
    </div>
    <div class="clearfix"></div>
  </div>
  {# ...BOX DATOS DE USUARIO #}
  {# BOX CREAR NUEVA PUBLICACIÓN... #}
  <div id="new-publication" class="col-lg-4 pull-left box-default">
    <h1 class="box-header">Crear publicación</h1>
    <hr/>
    {{form_start(form, {action:'', 'method':'POST'})}}
    {{form_end(form)}}
  </div>
  {# ...BOX CREAR NUEVA PUBLICACIÓN #}
</div>
{% endblock %}
